h1#site-title{
  background-color: #FDC844;text-align: center; font-size: 50px;
}
h1#article-title{ background-color:#FDC844; text-align: center; font-size: 45px}
nav ul{text-align: center;
  background-color:#E9C236;
  color:#000000;display: flex;
  justify-content: space-around;
  list-style: none; font-size: 35px;
  }
  nav ul li a hover{text-decoration: underline;}
  figure#main-image{
    background:#70F45C;
    color:black;
    width: auto;
  }
h2.section-title { font: 35px}
p{font-size: 20px}
p#contact-information {font-weight: bold;}
}
footer#page-footer{text-align: center;background: #F6CE41; }
