h1#site-title{
  background-color: #F6CE41;text-align: center; font-size: 50px;
}
h1#article-title{ background-color:#F6CE41; text-align: center; font-size: 40px}
nav ul{text-align: center;
  background-color:#E9C236;
  color:#000000;display: flex;
  justify-content: space-around;
  list-style: none; font-size: 30px;
  }
  nav ul li a hover{text-decoration: underline;}
  figure#main-image{
    background:#70F45C;
    border: 6px solid #42AD33;
    color:black;
    width: auto;
  }
h2.section-title { font: 27px}
p{font-size: 25px}
p#contact-information {font-weight: bold;}
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
footer#page-footer {text-align: center; background-color: #EFC633}
