h1 {background: orange; 
  color: green; font-family: verdana; }
figure {
  border: 2px solid orange;
}
figure img{max-width: 100%; height: auto; margin-bottom: 10px
}
p {background: #eab676; color: #1b6d0a
}
p img {float: right; bottom-margin: 32px; max-width: 50%; margin left:10px}
