h1#site-title{background:#E040c6 }
h1#article-title{background: #E040c6;
  color: #000000; font-family: verdana;
}
nav ul {
  list-style: none;
  padding-left: 0;
}
@media all and (min-width: 376px) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #E040c6
    }
figure {
  border: 2px solid black;
}
img {
  max-width: 100%
  height: auto;
}
figure img{max-width: 100%; height: auto; margin-bottom: 10px
}
figure.main-image{
  background:#F069fb;
  border-color: #8b0594;
  color:black;
  width: inherit;
}
@media all and (min-width: 768) {
figure.section-image{
  background: #F069fb;
  border-color:#B10dbb;
}
p {background:#F069fb; color: #000000
}
p img{float: right; margin-bottom: 32px; max-width: 50%; margin-left: 10px}
